.productSection {
  padding: 2rem var(--width-side-margins);
}

.container {
  display: flex;
  column-gap: 3rem;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-blue);
}

.productInformation {
  flex-basis: 0;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 2rem 0rem;
  color: var(--color-gray);
}

.cost {
  display: flex;
  column-gap: 2rem;
  font-size: 1.4rem;
}

.productInteraction {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.icon {
  font-size: 2.5rem;
}

.button {
  display: flex;

  justify-content: center;
  align-items: center;

  column-gap: 0.5rem;

  font-size: 1.5rem;
}

.similarProductsSection {
  padding: 2rem calc(var(--width-side-margins) - 10rem);
}

.heading {
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 1rem 1rem 1rem 0rem;
  color: var(--color-black);
}
