.container {
  position: relative;
  min-width: 5rem;
  max-width: 25rem;
  height: 2.5rem;
  z-index: 1;
  transition: all 0.3s ease;
}

.icon {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translate(0, -50%);
  z-index: 3;
  font-size: 1.2rem;
  color: var(--color-blue);
  transition: all 0.3s ease;
}

.input {
  width: 100%;
  height: 100%;

  border-radius: var(--border-radius);

  background: var(--gradient-white);
  filter: var(--shadow-main);

  border: none;
  outline: none;

  z-index: 2;
  font-size: 1.2rem;

  padding-left: 2.7rem;

  color: var(--color-blue);

  transition: all 0.3s ease;
}

.container:hover,
.container:focus {
  transform: translateY(var(--move-up));
}

.container:hover .icon,
.container:focus .icon {
  transform: translateY(calc(--move-up) - 7px);
}

.container:focus .input,
.container:hover .input {
  filter: var(--shadow-lite);
}

@media (max-width: 767px) {
  .container {
    position: relative;
    width: 8rem;
    height: 2rem;
    z-index: 1;
    transition: all 0.3s ease;

    grid-column: 2;
    grid-row: 1;
  }

  .input {
    width: 5.3rem;
  }
}
