.container {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  justify-content: start;
  align-items: center;

  color: var(--color-white);
  text-shadow: var(--shadow-main);
}

.icon {
  font-size: 3rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .title {
    font-size: 1.2rem;
  }

  .icon {
    font-size: 2rem;
  }
}
