.container {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  justify-content: start;
  align-items: center;

  color: var(--color-white);
  text-shadow: var(--shadow-main);
}

.icon {
  font-size: 3.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
